@import url("http://fonts.cdnfonts.com/css/barlow");
  
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  background-color: #5A5A5A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
    .sectionbotoes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3vh;
    }
  
    button {
      min-width: 80vw;
    }

  }
.sectiontitles{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    .sectiontitles {
        margin-bottom: -5vh;    
    }
  }


.h1title {
  max-width: 90vw;
  margin: 0 0 2vh 0;
  padding: 0;
  font-size: 5vw;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 1100px) {
    .h1title {
        font-size: 8vw;     
    }
  }

.h3subtitle {
  max-width: 90vw;
  margin: 0;
  padding: 0;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 1100px) {
    .h3subtitle {
        font-size: 5vw;
    }
  }

.sectionpedra {
    height: 50vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

#flikedot {
  width: 60vw;
  height: auto;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: ease-in .2s;
}

@media only screen and (max-width: 1100px) {
    #flikedot {
        width: 80vw;
        height: 70vw;
        object-fit: cover;
    }
  }

.sectionbotoes {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;

}

.btn {
  width: 25vw;
  height: 10vh;
  padding: 1.5vh;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  font-size: 2.5vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 3px;
  transition: transform .25s;
}

/*.btn:hover {
    background-color: #556B2F;
    color: white;
    font-weight: 500; 
} */

.btnpressed {
    background-color: #556B2F;
    color: white;
    font-weight: 500; 
    background-color: #384d14;
    transform: scale(1.05);
}

.sectionrestar {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    font-size: 2vh;
}

a:active {
    color: #556B2F;
}

